@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-kalkulator{
    padding: 10px 10px 30px 10px;
    margin-top: 60px;
    width: 320px;
    height: 100%;
    background-color: grey;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 1px 4px 12px black;
    margin-bottom: 30px;
}

.hasil{
    width: 100%;
    background-color: slategray;
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 2px 6px black;
    font-size: 60px
}
.angka{
    width: 100%;
    display: flex;
}
.angka button{
    width: 70px;
    height: 70px;
    border: 1px solid;
    background-color: white;
    margin: 2px;
    border-radius: 6px;
    box-shadow: 1px 2px 6px black;
}

.angka button:hover{
    background-color: orange;
    transition: 0.5s;
}
.operator{
    width: 100%;
    display: flex;
}
.operator button{
    width: 70px;
    height: 70px;
    border: 1px solid;
    background-color: white;
    margin: 8px 2px;
    border-radius: 6px;
    box-shadow: 1px 2px 6px black;
}
.operator button:hover{
    background-color: orange;
    transition: 0.5s;
}
.buttonHasil button{
    width: 100%;
    height: 40px;
    border: none;
    background-color: grey;
    box-shadow: 1px 2px 6px black;
    margin-top: 6px;
    border: 1px solid black;
    border-radius: 8px;
}
.buttonHasil button:hover{
    background-color: white;
    transition: 0.5s;
}

.nama {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: end;
    padding: 20px;
    font-family: "Momo Signature", cursive;
    font-size: 12px;
    color: white;
    padding: 10px;
    margin-bottom:10px ;
}


@keyframes kanan {
    from{
        translate: 0%;
    }
    to{
        translate: 120%;
    }
}
@keyframes kiri {
    from{
        translate: 0%;
    }
    to{
        translate: -120%;
    }
}

.k,.n,.m{
    font-size: 20px;
    color: green;
    animation: kanan 20s linear infinite;
    font-family: Arial, Helvetica, sans-serif;
}

.p,.s{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
    animation: kiri 20s linear infinite;
}